[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Python - Google Drive
Type=Link
URL=https://drive.google.com/drive/u/1/folders/1lvwjP52efnWm_hV1fLZ2RGKJUaxL-O_-
Icon=text-html
Name[es_AR]=Clases en Drive
